@import 'src/styles/sass/mixins';

.EntriesListItem {
	list-style-type: none;
	padding: 16px 32px;

	&__header {
		display: flex;
		justify-content: space-between;
	}
	&__title {
		font-size: 1.2rem;
	}

	&__subtitle {
		font-style: italic;
		color: $medium-shades-gray;
	}

	&__tags {
		@include flexbox(flex-start, center);
		gap: 4px;
	}

	.custom-tags {
		color: $hyperlink-blue !important;
	}
}

.EntriesListItem.total {
	// &__header {
	// 	justify-content: center;
	// }

	border-top: 2px solid $clear-shades-gray;
	margin-top: auto;
	font-size: 1.5rem;
}
