/*----- GENERAL ----- */
$absolute-black: #000000;
$absolute-white: #ffffff;
$text-color-light: #f2f2f2;
$text-color-dark: #222222;
$text-color-error: #ed2b3b;
$background-color-light: #ffffff;
$background-color-dark: #222222;
$hyperlink-blue: #1173ca;

/*----- PRIMARY COLORS ----- */
$primary-blue-800: #16226c;
$primary-blue-500: #1173ca;

/*----- SECONDARY COLORS ----- */
$secondary-lightblue-300: #98aab7;

/*----- SHADES COLORS ----- */
$dark-shades-gray: #333333;
$medium-shades-gray: #666666;
$light-shades-gray: #999999;
$neutral-shades-gray: #cccccc;
$clear-shades-gray: #f1f4f7;
