@import 'src/styles/sass/mixins';

.WrapperNavBar {
	display: inline;

	.CollapseNavbar {
		@include defaultTransition();
		transform: translateY(-100%);
		opacity: 0;
	}

	.CollapseNavbar.show {
		transform: translateY(0);
		opacity: 1;
	}
}
