@import 'src/styles/sass/mixins';

.EntriesListContainer {
	margin-top: var(--chakra-space-16);
	padding: 0 0 32px 0 !important;
	border: solid 2px $clear-shades-gray;
	border-radius: 8px;
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: baseline;

	&__emptyMessage {
		text-align: center;
		padding: 4em;
		color: $light-shades-gray;
		font-weight: 400;
	}
}
