/* @import '~bootstrap/dist/css/bootstrap.min.css'; */

#root {
	font-family: Poppins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

	/* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}
